@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff;
  --color-header: #272a31;
  --font-family: 'Lato', sans-serif;
  --color-primary: #ec5242;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
}

hr {
  margin-top: 24px;
  border: 1px solid #ec5242;
  width: 50%;
  margin-inline: auto;
}

.link {
  text-decoration: none;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("../fonts/Cocogoose_trial.eot") format("eot"), url("../fonts/Cocogoose_trial.woff") format("woff"), url("../fonts/Cocogoose_trial.ttf") format("truetype"), url("../fonts/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

header {
  background: #fff;
  padding: 0px;
  box-shadow: 0 1px 10px 3px #a7a5a5;
  position: sticky;
  top: 0;
  z-index: 50;
}

header nav a img {
  width: 120px;
  height: auto;
  display: none;
}

header nav ul {
  position: relative;
  list-style: none;
  z-index: 100;
}

header nav .hamb {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1000;
}

.head::before {
  content: "";
  position: absolute;
  background-image: url("../images/headline-background-v2.svg");
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.head {
  padding: 72px 24px;
  position: relative;
  z-index: 10;
}

.greetings {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 36px;
  color: #ec5242;
}

.title {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 36px;
  background: #ec5242;
  background: repeating-radial-gradient(circle farthest-corner at center center, #ec5242 0%, #ec5242 25%, #382e0a 50%, #ec5242 75%, #ec5242 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

.headdsc {
  margin: 12px 0;
  padding: 12px;
  border: 3px solid #fff;
  background: #f9f9f9;
}

.headdsc p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
}

.date {
  font-family: "COCOGOOSE", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 50px;
  color: #272a31;
  margin: 12px 0;
}

.classes {
  padding: 54px 24px;
  background: #272a31;
}

.classes_title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.classes ul {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.classes ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
  background: #41434b;
  padding: 12px;
  transition: border 0.8s;
}

.classes ul li img {
  width: 40px;
  height: 40px;
  flex-basis: 25%;
}

.classes ul li h3 {
  color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 24px;
  flex-basis: 25%;
}

.classes ul li p {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  flex-basis: 50%;
}

.presenter {
  padding: 48px 24px;
}

.presenter_title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #272a31;
}

.presenter ul {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  list-style: none;
}

.presenter ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 100%;
  padding: 12px;
}

.presenter ul li .presenter_img img {
  width: 100px;
  height: 100px;
}

.presenter ul li .presenter_dsc h3 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  color: #272a31;
}

.presenter ul li .presenter_dsc .dsc-1 {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  color: #ec5242;
  margin: 5px 0;
  font-style: italic;
}

.presenter ul li .presenter_dsc .dsc-2 {
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
}

.sponsor {
  padding: 56px 24px;
  background: #41434b;
}

.sponsor_title {
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

.sponsor_img {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

footer {
  padding: 24px;
  text-align: center;
}

footer .footer_img {
  width: 50%;
  margin-bottom: 12px;
}

footer .footer_p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #272a31;
}

@media (min-width: 480px) {
  .head {
    padding: 10rem 24px;
  }

  .greetings {
    margin: 1rem 0;
    font-size: 1.8rem;
  }

  .title {
    font-size: 2.5rem;
    line-height: 56px;
  }

  .headdsc p {
    font-size: 1.2rem;
    line-height: 32px;
  }

  .date {
    font-size: 2rem;
    margin-top: 48px;
  }

  .classes {
    padding: 5rem 24px;
  }

  .classes_title {
    font-size: 2rem;
  }

  .classes ul li img {
    width: 50px;
    height: 50px;
  }

  .classes ul li h3 {
    font-size: 1.5rem;
  }

  .classes ul li p {
    font-size: 1.2rem;
  }

  .presenter {
    padding: 5rem 24px;
  }

  .presenter_title {
    font-size: 2rem;
  }

  .presenter ul {
    margin: 48px 0;
    gap: 24px;
  }

  .presenter ul li {
    padding: 24px;
  }

  .presenter ul li .presenter_img img {
    width: 120px;
    height: 120px;
  }

  .sponsor {
    padding: 5rem 24px;
  }

  .sponsor_title {
    font-size: 2rem;
  }

  .sponsor_img {
    margin-top: 48px;
    gap: 36px;
  }

  footer {
    padding: 2rem 24px;
  }

  footer .footer_p {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  header {
    padding: 0;
  }

  header nav .hamb {
    font-size: 3rem;
  }

  .head {
    padding: 10rem 48px;
  }

  .greetings {
    margin: 1rem 0;
    font-size: 2rem;
  }

  .title {
    line-height: 72px;
  }

  .headdsc p {
    font-size: 1.2rem;
    line-height: 42px;
  }

  .date {
    font-size: 2.5rem;
    margin-top: 48px;
  }

  .classes {
    padding: 6rem 48px;
  }

  .classes_title {
    font-size: 2.3rem;
  }

  .classes ul {
    gap: 32px;
  }

  .classes ul li img {
    width: 60px;
    height: 60px;
  }

  .classes ul li h3 {
    font-size: 1.6rem;
  }

  .classes ul li p {
    font-size: 1.3rem;
  }

  .presenter {
    padding: 6rem 48px;
  }

  .presenter_title {
    font-size: 2.3rem;
  }

  .presenter ul {
    margin: 56px 0;
    gap: 32px;
  }

  .presenter ul li {
    padding: 32px;
  }

  .presenter ul li .presenter_img img {
    width: 150px;
    height: 150px;
  }

  .presenter ul li .presenter_dsc h3 {
    font-size: 1.5rem;
  }

  .presenter ul li .presenter_dsc .dsc-1 {
    font-size: 1.2rem;
    margin: 12px 0;
    line-height: 32px;
  }

  .presenter ul li .presenter_dsc .dsc-2 {
    font-size: 1.2rem;
    line-height: 32px;
  }

  .sponsor {
    padding: 6rem 48px;
  }

  .sponsor_title {
    font-size: 2.3rem;
  }

  .sponsor_img {
    margin-top: 48px;
    gap: 52px;
  }

  .sponsor_img .sponsor_img {
    width: 30%;
  }

  footer {
    padding: 2rem 48px;
  }

  footer .footer_p {
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  header {
    padding: 0px;
  }
  .social ul {
    background-color: #272a31;
    text-align: right;
    padding-top: 2px;
    list-style: none;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0 11%;
    gap: 1.5rem;
  }

  .social ul li {
    font-family: var(--font-family);
    color: white;
    padding-right: 0px 198px 0px 209px;
    gap: 232px;
  }

  .social li:hover {
    color: #ec5242;
  }

  .header {
    padding: 10rem 72px;
  }

  .title {
    line-height: 80px;
  }

  .headdsc p {
    line-height: 48px;
  }

  .date {
    margin-top: 56px;
  }

  .classes {
    padding: 6rem 48px;
  }

  .classes ul {
    margin-top: 64px;
    gap: 24px;
  }

  .classes ul li {
    padding: 12px;
  }

  .classes ul li img {
    width: 50px;
    height: 50px;
  }

  .classes ul li h3 {
    font-size: 1.5rem;
  }

  .classes ul li p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 24px;
  }

  .presenter {
    padding: 8rem 72px;
  }

  .presenter ul {
    margin: 64px 0;
  }

  .presenter ul li {
    padding: 32px;
  }

  .presenter ul li .presenter_img img {
    width: 180px;
    height: 180px;
  }

  .presenter ul li .presenter_dsc {
    max-width: 450px;
  }

  .presenter ul li .presenter_dsc .dsc-1 {
    margin: 6px 0;
    line-height: 32px;
  }

  .presenter ul li .presenter_dsc .dsc-2 {
    line-height: 32px;
  }

  .prog {
    align-items: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 40px;
  }

  .prog {
    align-items: center;
    text-align: center;
  }

  .program {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: white;
    margin-top: 5%;
  }

  .sponsor {
    padding: 6rem 72px;
  }

  .sponsor_img {
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .sponsor_img .sponsor_img {
    width: 140px;
  }

  footer {
    padding: 2.5rem 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 48px;
  }

  footer .footer_img {
    width: 150px;
  }

  footer .footer_p {
    line-height: 32px;
  }
}

@media (max-width: 992px) {

  .social {
    display: none;
  }
  header nav ul {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100vh;
    background: rgba(236, 82, 66, 0.9);
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 100%;
    transition: left 0.8s, visibility 0.8s, opacity 0.4s;
    padding: 10rem 4rem;
  }

  header nav ul li {
    margin-bottom: 5rem;
  }

  header nav ul li a {
    font-size: 48px;
    font-weight: 800;
    line-height: 44px;
    color: #fff;
    transition: color 1s;
    font-family: "Lato", sans-serif;
    margin-top: 30px;
    padding-right: 10%;
    text-align: right;
  }

  header nav ul li a:hover {
    color: #272a31;
  }
}

@media (max-width: 480px) {
  header nav ul {
    padding: 5rem 3rem;
  }

  header nav ul li {
    margin-bottom: 3rem;
  }

  header nav ul li a {
    font-size: 36px;
  }
}

@media (min-width: 992px) {
  header nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  header nav a img {
    display: block;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 48px;
    padding: 8 rem; 
  }

  header nav ul li a {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 24px;
    padding: 8 rem 0;
    color: #41434b;
    transition: color 0.5s, font-size 0.5s;
    left: -100%;
    height: 100vh;
    width: 100%;
  }

  header nav .hamb {
    display: none;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 3rem;
  }

  .headdsc {
    width: 80%;
  }

  .headdsc p {
    font-size: 1.5rem;
  }

  .classes {
    padding: 8rem 64px;
  }

  .classes ul {
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .classes ul li {
    flex-direction: column;
    width: 172px;
    height: 240px;
    padding: 12px;
  }

  .classes ul li img {
    width: 40px;
    height: 40px;
    flex-basis: 100%;
  }

  .classes ul li h3 {
    font-size: 1.3rem;
  }

  .classes ul li p {
    font-size: 1rem;
    flex-basis: 100%;
  }

  footer {
    gap: 72px;
  }

  footer .footer_img {
    text-align: right;
  }
}

@media (min-width: 1400px) {
  header {
  height: 75px;
  width: 1440px;
  left: 0px;
  top: 30px;
  border-radius: 0px;
  padding: 0px 198px 0px 209px;

  }

  .head {
    padding: 12rem 120px;
  }

  .title {
    width: 70%;
  }

  .headdsc {
    width: 60%;
  }

  .classes ul li {
    width: 246px;
    height: 300px;
    padding: 24px;
  }

  .classes ul li img {
    width: 60px;
    height: 60px;
  }

  .classes ul li h3 {
    font-size: 1.5rem;
  }

  .classes ul li p {
    font-size: 1.2rem;
    width: 90%;
  }

  .presenter ul {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .presenter ul li {
    max-width: 600px;
  }

  hr {
    width: 30%;
  }
}

.active {
  visibility: visible;
  opacity: 1;
  left: 0;
  transition: left 0.8s, visibility 0.8s, opacity 0.4s;
}

@media (min-width: 992px) {
  .join {
    color: #ec5242;
  }

  .joint {
    border: 4px solid #ec5242;
    padding: 8px;
  }

  header nav ul li a:hover {
    color: #ec5242;
    font-size: 1.3rem;
  }
}

.classes ul li:hover {
  border: 4px solid #fff;
}

.previous-course ul li:hover {
  transform: scale(1.1);
}
